
body {
    margin: 0em;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: white;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: white;
    line-height: 1.5em;
}

ul {
    color: white;
}

li {
    list-style: none;
    padding-bottom: 1em;
    line-height: 1.5em;
}

i {
    color: rgb(255, 168, 7);
}

a {
    color: rgb(255, 168, 7);
    text-decoration: none;
}
a:hover {
    color: white;
}

span {
    font-weight: bold;
}



.header {
    min-width: 25em;
    padding-top:15em;
    padding-bottom: 15em;
    
    background-image: url("images/image-liege-wallpaper.jpg");
    background-size: cover;
    
    
}

main {
    border-top: 1px solid white;
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgb(114, 114, 114);
}

.main-citation {
    padding-left: 4em;
    padding-right: 4em;
    text-align: center;
}

.header__div {
    

    margin-left: 3em;
    width: 250px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
    background-color: #C6C4C4;
    opacity: 0.83;
    border-radius: 8px;
    border: 2px solid white;
}

.title {
opacity: inherit;
color: #FFFFFF;
}

.main__section-primary {
    
    padding-top: 5em;
    padding-bottom: 2em;
}

.main__container {
    border-bottom: 1px solid white;
    margin-right: -2em;
    margin-left: -2em;

}

.first-container {
    background-color: black;

    padding-left: 2em;
    padding-right: 10em;
    padding-top: 2em;
    padding-bottom: 2em;

    
}

.second-container {
    padding-left: 10em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.main__section-video {

    background-color: white;
    
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: -2em;
    margin-left: -2em;
    margin-right: -2em;
}

.main__section-video__container {
    display: flex;
    justify-content: center;
}

.main__section-secondary {
    background-color: black;
    
    padding-top: 2em;
    padding-bottom: 2em;

    margin-left: -2em;
    margin-right: -2em;

    
    
}

.section-bot {
    line-height: 57px;
    letter-spacing: 0.315em;
    padding-left: 4em;
    padding-right: 4em;
    text-align: center;
    
}

.footer {
    background-color: rgb(224, 224, 224);
    margin-top: -2em;
    padding-top: 2em;
    padding-bottom: 2em;

    
}

.footer__contact__list {
    color: black;
    
}

.footer__contact__list__item {
    padding-bottom: 1em;
}